.list-page {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:20px 10px;
    }
    .list-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 15px;
        .item {
          border: 1px solid #DDD;
          border-radius:4px;
          padding: 8px;
          &:hover {
              background : #EFEFEF;
              cursor:pointer;
          }
          img {
              width : 100%;
              min-height:350px;
          }
        }
      }
}