<div class="list-page">
    <div class="header">
        <div class="item">
            <app-search-control [value] = "search" (searchValueChange) = "searchValueChange($event)"></app-search-control>
        </div>
        <div class="item">
            <app-sort-control (sortValueChange) = "sortValueChange($event)"></app-sort-control>
        </div>
    </div>
    <div class="list-container">
            <div *ngFor="let item of candidatesData; index as i;" class="item">
                <img [src]="item.image" [alt]="item.name" [title]="item.name"/>
                <h2> {{item.name}}</h2>
                <p> {{item.description}}</p>
            </div>
        
        </div>
</div>